<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Application</title>
</head>
<body>

    {% include 'navbar.html' %}
    {% block content %}

    {% endblock %}
</body>
</html>
