{% extends 'main.html' %}

{% block content %}

<title>Home</title>
<h1>Home</h1>


<div>
    <div>

        {% for room in rooms %}
            {% if room.id > 0 and room.id < 3 %}
            <div>
                <h3>

                    {{room.id}} -- {{room.name}}

                </h3>
            </div>
            {% endif %}


        {% endfor %}
    </div>
</div>


{% endblock content %}


